.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 56px;
}
.loader-title {
  font-size: 24px;
  line-height: 36px;
  color: #3f3356;
  margin-bottom: 56px;
  text-align: center;
}
.container {
  max-width: 960px;
  margin: auto;
  padding: 100px 30px;
}
.title {
  font-size: 24px;
  line-height: 36px;
  color: #3f3356;
  margin-bottom: 56px;
}
.row {
  display: flex;
}
.input {
  background: #ffffff;
  border: 1px solid #948ea5;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  color: #3f3356;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 22px;
  outline: none !important;
  min-width: 320px;
  margin-right: 24px;
}
.btn {
  background: #1949d8;
  border: 1px solid #1949d8;
  box-shadow: 0px 4px 8px rgba(41, 29, 74, 0.15);
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 24px;
  cursor: pointer;
  outline: none !important;
  margin-right: 16px;
}
.result-text {
  font-size: 22px;
  line-height: 28px;
  color: #3f3356;
  margin-bottom: 56px;
}
.result-title {
  font-size: 28px;
  line-height: 38px;
  color: #3f3356;
  margin-bottom: 24px;
}
.result-title2 {
  font-size: 36px;
  line-height: 48px;
  color: #3f3356;
  margin-bottom: 36px;
}
.result-date {
  font-size: 16px;
  line-height: 24px;
  color: #3f3356;
  margin-bottom: 12px;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.loader {
  position: relative;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media print {
  .btn, .result-text {
    display: none;
  }
  @page {
    size: auto;
    margin: 0;
  }
}
